
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/*фото отзывов*/

#review1 {
    width: 300px !important;
    height: 300px !important;
}

#review2 {
    width: 300px !important;
    height: 300px !important;
}

#review3 {
    width: 300px !important;
    height: 300px !important;
}

/*фото тортов*/

#cake1 {
    width: 450px !important;
    height: 300px !important;
}

#cake2 {
    width: 450px !important;
    height: 300px !important;
}

/*фото начинок*/

#filling1 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling1:hover {
    filter: sepia(0);
}


#filling2 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling2:hover {
    filter: sepia(0);
}

#filling3 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling3:hover {
    filter: sepia(0);
}

#filling4 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling4:hover {
    filter: sepia(0);
}

#filling5 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling5:hover {
    filter: sepia(0);
}

#filling6 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling6:hover {
    filter: sepia(0);
}

#filling7 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling7:hover {
    filter: sepia(0);
}

#filling8 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling8:hover {
    filter: sepia(0);
}

#filling9 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling9:hover {
    filter: sepia(0);
}

#filling10 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling10:hover {
    filter: sepia(0);
}

#filling11 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling11:hover {
    filter: sepia(0);
}

#filling12 {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 1rem;
    border-radius: 25%;
    filter: sepia(75%);
}
#filling12:hover {
    filter: sepia(0);
}

/*фото тортов*/

#gentlevelvet {
    width: 420px !important;
    height: 280px !important;
}

#emeraldd {
    width: 420px !important;
    height: 280px !important;
}

#birdsmilk {
    width: 420px !important;
    height: 280px !important;
}

/*логотип*/

#logo {
    width: 160px !important;
    height: 130px !important;
    border-radius: 80%;
}

/*блок*/

.content {
    display: flex; 
    align-items: center;  
    justify-content: center;  
    flex-wrap: wrap;  
    width: 90%; 
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

/*логотип настройка*/

header {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 0.5rem; 
} 
 
header img.logo { 
    width: 20vw;  
}

/*настройка меню*/

header nav ul { 
    display: flex; 
    flex-wrap: wrap; 
    padding-left: 1rem; 
} 

header nav ul li { 
    margin-right: 1rem;     
    margin-bottom: 0.5rem; 
}

/*настройка баннер*/

section.banner { 
    min-height: 20vw; 
    display: flex; 
    align-items: center; 
    justify-content: center;

} 

section.banner .content { 
    display: block;  
} 

/*index.html настройка*/

/*настройка преимуществ*/

.advantages .content { 
    justify-content: space-between;
} 
 
.advantages .advantage img { 
    margin: 0 auto; 
    max-width: 80%; 
} 

.advantages .advantage p { 
    display: none; 
} 

/*настройка выбора торта*/

.select .content .select_cakes{ 
    margin-bottom: 1rem; 
} 
 
.select .content .select_cakes a { 
    display: block; 
    width: 100%; 
    padding: 1rem; 
} 
 
.select .content .select_cakes img { 
    width: 100%; 
    border-radius: 25%;
} 

/*настройка отзывов*/


   
.reviews .content .review .review_text { 
    display: flex; 
    align-items: center; 
    margin: 1rem; 
    color: rgb(168, 0, 0);
    background: #251919;

} 
.reviews {
    background: #251919;
}   

.reviews .content .review .review_text blockquote { 
    padding: 0.5rem; 
    margin: 0.5rem; 
} 

/*карта*/

.map iframe { 
width: 100%; 
height: 400px; 
} 

/*cakes.html настройка*/

.cakes .cake { 
width: 90%; 
padding: 1rem; 
margin-bottom: 1rem; 
} 

.cakes .cake .cake_descript img { max-width: 90%;
    border-radius: 25%;} 

.cakes .cake .cake_buy { padding: 0.5rem;} 

.cakes .cake .cake_buy a { 
display: inline-block; 
width: 90%; 
padding: 1rem; 
}

.cakes .cake .cake_buy ul { padding-left: 0;} 

/*settings*/

body {
    background-color: #4d3c3c;
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Oswald", Arial, sans-serif;
}

body a {
    color: rgb(255, 204, 204);
}

section.banner { 
background: url("img/background/banner-bg.jpg") center/cover;  
color: #fcfbfa; 
}

footer {
    background: #251919;
    color: #fcfbfa;
}

/*index.html*/

/*преимущества*/

.advantages .advantage {
    color: #fcfbfa;
}
.advantages p {
    color: rgb(255, 255, 255);
}

.select a {
    color: rgb(255, 181, 181);
}

.select , .reviews{
    background: linear-gradient(100deg, #3d2d2d, #39312d00), url("img/background/select-bg.png") center/cover no-repeat;
}

.selection a {
    background: #39312d;
    border: 3px solid #39312d;
    color: #fcfbfa;
}

.about {
    background: url(img/background/about-bg.jpg) center/coverS;
}

.about_wrap {
    background: rgba(0, 0, 0, 0.5);
    color: #fcfbfa;
    padding: 40px;
    align-content: center;
}

.review_text {
    border: 1px solid #39312d18;
    background: linear-gradient(135deg, #fcfbfa 50%, #f0f0ef 50%);
    padding: 20px;
}

.feedback {
    background: url("img/background/feedback-bg.jpg");
    color: #fcfbfa;
}

/*cakes.html*/

.fillings .content a {
    color: #39312d;
}


/*delivery.html*/

.delivery_price .table .thead .tr {
    display: none;
}

.delivery_price .table {
    padding: 0.5rem;
    border-collapse: collapse;
    border-bottom: #39312d;
}

/*семейство шрифтоов*/ 

p.Edu_SA_Hand {
    font-family: "Edu SA Hand", Arial, Helvetica, sans-serif;
}

/*внешний вид всех ссылок*/

a {
    text-decoration: none;
    font-size: 1rem;
}

/*убираем маркеры списка*/

nav ul {
    list-style: none;
}

/*отступ снизу ссылок в подвале*/

footer a {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgb(255, 195, 195);
}

/*текст внутри баннера*/

section.banner h1,
section.banner h2 {
    text-shadow: 0px 3px 3px #00000069;
    color: rgb(44, 0, 0);
}

section.banner h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

section.banner h2 {
    font-size: 1rem;
    font-style: italic;
}

footer {
    font-size: 1rem;
}

/*index.html*/

.select a {
    text-decoration: none;
}

.about {
    font-size: 1rem;
}

.about p {
    font-style: italic;
    text-align: center;
}

.reviews {
    font-style: italic;
}

.feedback h3 {
    margin: 1rem;
    font-size: 1.5rem;
}

/*cakes.html*/

.cakes .cake .cake_buy ul a {
    font-size: 1rem;
}

.cakes .cake .cake_buy ul {
    list-style-position: inside; /*настраиваем положение маркеров*/
    padding-left: 0;
}

/*fillings.html*/

.filling a {
    font-size: 2rem;
}

.filling .fillings .content .filling {
    font-weight: 700;
}

.filling h2 {
    text-align: center;
}

/*delivery.html*/

.delivery h1 {
    font-size: 1.5rem;
}

.delivery .delivery_price table {
    font-size: 0.7rem;
    font-style: italic;
}

/*коробочная модель*/

*,
::after,
::before {
    box-sizing: border-box;
}

/*задаем поведение при наведении на ссылок курсора*/
a:hover {
    text-decoration: underline;
}

/*index.html*/

/*блоке заказа к стилизованным ссылкам добавим настройки курсора*/

.select .select_cakes .select_cake a {
    cursor: pointer; /* курсор меняется со стандартной стрелки на указатель */
}

.fillings .filling img {
    margin-bottom: 1rem;
    border-radius: 50%;
    filter: sepia(75%);
}
.fillings .filling img:hover {
    filter: sepia(0);
}

/*стилизация форм*/

.feedback form .form_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* настроим оформление для флажка */

.feedback form .form_submit input[type="checkbox"] {
    appearance: none;
    position: relative;
    min-height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

/* добавляем новый значок для выбранного checkbox-а */
.feedback form .form_submit input[type="checkbox"]::before {
    visibility: hidden;
    position: absolute;
    content: "\2714";
    color: #fcfbfa;
    font-size: 2.2em;
    left: 0;
    top: -5px;
}
/* показываем значок если checkbox выбран */

.feedback form .form_submit input[type="checkbox"]:checked::before {
    visibility: visible;
}

/*стилизация меню*/

@media (min-width: 768px) {
    header a { font-size: 1.2rem; }
    header img.logo { width: 15vw; }
}

@media (min-width: 1024px) {
    header a { font-size: 1.5rem; }
    header img.logo { width: 12vw; }
}

@media (min-width: 1440px) {
    header a { font-size: 2rem; }
    header .logo { width: 10vw; }
}

@media (min-width: 590px) {
    section.banner.first { min-height: 30vw; }
    section.banner h1 { font-size: 3rem; }
    section.banner h2 { font-size: 1.5rem; }
}

@media (min-width: 1024px) {
    section.banner.first { min-height: 40vw; }
    section.banner h1 { font-size: 4rem; }
    section.banner h2 { font-size: 2rem; }
}

@media (min-width: 1440px) {
    section.banner h1 { font-size: 6rem; }
    section.banner h2 { font-size: 4rem; }
}

@media (min-width: 590px) {
    footer .footer_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
}

@media (min-width: 768px) {
.advantages .advantage {
    display: flex;
    flex-direction: column;
}
.advantages .advantage p {
    display: inline-block;
}
}

/*на экранах больше 1024px добавляем анимацию к изображениям при наведении*/
@media (min-width: 1024px) {
.advantages .advantage img {
transition: all 0.8s ease-in-out;
}
.advantages .advantage img:hover {
transform: scale(1.3);
}
}

@media (min-width: 590px) {
.select .select_cakes {
display: flex;
justify-content: space-between;
}
.select .select_cakes .select_cake { width: 45%; }
.select .select_cakes .select_cake a { font-size: 1.2rem; }
}

/* добавляем анимацию к кнопкам */
@media (min-width: 1024px) {
.select .select_cakes .select_cake button {
transition: background 0.8s ease-out;
}
.select .select_cakes .select_cake a:hover {
background: #fcfbfa;
color: #39312d;

}
}

@media (min-width: 590px) {
.about .about_wrap { font-size: 1.5rem; }
}

@media (min-width: 768px) {
.about .about_wrap { width: 50%; }
}

@media (min-width: 1440px) {
.about .about_wrap { font-size: 2rem; }
}

@media (min-width: 590px) {
.reviews .content .review .review_text blockquote { font-size: 1.2rem; }
}
@media (min-width: 768px) {
.reviews .content .review { display: flex; }
.reviews .content .review img {
display: block;
width: 10rem;
height: 10rem;
margin-bottom: 0.5rem;
border-radius: 50%;
}
}
@media (min-width: 1440px) {
.reviews .content .review .review_text blockquote { font-size: 1.8rem; }
}

@media (min-width: 768px) {
.feedback { font-size: 1.2rem; }
.feedback h3 { font-size: 3rem; }
}

@media (min-width: 768px) {
    .cakes .cake .cake_buy .cake_buy_wrap {
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
}
}
@media (min-width: 1024px) {
.cakes .cake .cake_descript {
display: flex;
}
.cakes .cake .cake_buy {
display: flex;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
margin-top: 1.5rem;
}
.cakes .cake .cake_buy a {
display: inline-block;
width: 30%;
height: min-content;
transition: all 0.8s ease-in;
}
.cakes .cake .cake_buy a:hover {
text-decoration: none;
background: #fcfbfa;
color: #39312d;
transform: scale(1.2);
}
}
@media (min-width: 1200px) {
.cakes .cake {
font-size: 1.5rem;
}
.cakes .cake .cake_buy a {
font-size: 2rem;
}
}

@media (min-width: 768px) {
.fillings h2 {
font-size: 3rem;
}
.fillings .content a {
font-size: 3.5rem;
}
}

/*delivery.html*/

@media (min-width: 425px) {
.delivery .delivery_price table {
font-size: 1rem;
}
}
@media (min-width: 590px) {
.delivery .delivery_price table {
font-size: 1.2rem;
}
}
@media (min-width: 768px) {
.delivery .delivery_price table {
font-size: 1.5rem;
}
}